body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

.App {
  text-align: center;
  padding:40px;
  position: relative;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.todo-content {
  position: relative;
  z-index: 6;
  padding-top: 70px; /* Add padding for the title height */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eff57d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

h1.todo-title {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #2f80d5;
  color: #fff;
  padding: 20px;
  font-size: 36px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  margin: 0;
}

input[type='text'] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}
input[type='text'],
select {
  flex-grow: 1;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  background-color: #fff;
  color: #444;
}

button[type='submit'] {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}

button[type='submit']:hover {
  background-color: #0056b3;
}
button[type='submit'],
button#clear-all-btn {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button[type='submit']:hover,
button#clear-all-btn:hover {
  background-color: #0056b3;
}

/* ... (previous CSS rules) */

h2 {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 span {
  text-align: center; /* Center the category name */
  background-color: #fff;
  padding: 0 10px;
  flex-grow: 1; /* Allow the category name to take available space and center it */
}

.clear-category-button {
  padding: 8px 12px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.clear-category-button:hover {
  background-color: #c82333;
}


.todo-item {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
  font-weight: 200;
  
}

.todo-item.done {
  text-decoration: line-through;
  background-color: #a1f7a5; /* Add a background color for completed items */
}

.todo-item button {
  margin-left: 10px;
}
